@media screen and (min-width: 1408px) {
  div.container {
      max-width: 1700px;
      width: 1700px;
  }
  .slider{
    width: 100%;
    min-width: 250px;
  }
  div.columns {
    width: 100%;
  }
}
